/* === GENERAL === */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

h3, h4 {
  color: #093b74;
}

/* === NAVBAR === */
.navbar {
  background-color: #0a3d62 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  color: #fff !important;
  letter-spacing: 1px;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #ffffff !important;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #f1c40f !important;
}

/* Reset dan font dasar */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #111;
}

/* Breadcrumb */
.breadcrumb {
  padding: 20px 40px 0;
  font-size: 14px;
  color: #555;
}

.breadcrumb a {
  color: #00796B;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb span {
  color: #333;
  font-weight: 600;
}

/* Judul Section */
.pendaftaran {
  padding: 20px 40px;
}

.pendaftaran h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pendaftaran h2 span {
  color: #00796B;
  margin-right: 10px;
}

/* Gambar Pendaftaran */
.gambar-pendaftaran {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.gambar-pendaftaran img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.footer {
  background-color: #3c3c3c;
  color: white;
  padding: 40px 60px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-left img {
  width: 150px;
  margin-bottom: 5px;
}

.footer-left p {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
}

.footer-right h4 {
  text-align: right;
  font-weight: 700;
  margin-bottom: 8px;
  color: white;
}

.footer-line {
  border: none;
  border-top: 1px solid white;
  margin: 30px 0 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  font-size: 13px;
  color: white;
}
